* {
  font-family: 'Charmonman';
  text-align: center;
}

body {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

 h1 {
   margin-bottom: 157px;
}

.human-side {
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: #4446cc;
  align-items: center;
}

button {
  background-color: #398d98;
  width: 50%;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #47afbd;
}

.main-section {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 915px;
  background-color: #335099;
  justify-content: center;
}

.game-rules {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.piece {
  width: 150px;
  height: auto;
  border-radius: 20px;
  cursor: pointer;
}

img {
  width: 150px;
  height: auto;
  border-radius: 20px;
}

#rock {
  width: 150px;
  height: auto;
  border-radius: 20px;
}

.classic-section {
  background-color: #2196f3;
  justify-content: center;
  padding-left: 43px;
  padding-right: 47px;
  border: 3px black;
  border-radius: 30px;
  cursor: pointer;
}

.classic-section:hover, .complex-section:hover {
  background-color: #6aafe6
}

.complex-section {
  background-color: #2196f3;
  margin-top: 32px;
  justify-content: center;
  border: 3px black;
  border-radius: 30px;
  cursor: pointer;
}

.computer-side {
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: #4446cc;
}

.hidden {
  display: none;
}
